/* Background colors */
header, footer { 
    background-color: #1F2937; 
}

.blockquote {
    background-color: #E5E7EB;
}

section {
    background-color: #FFF;
}

button, .cta {
    color: #FFF;
    background-color: #3882F6;
}

.placeholder {
    background-color: gray;
    color:#FFF;
}

/* Header styling */
header nav {
    display:flex;
    justify-content:space-between;
}

header .logo { 
    font: 24px;
    color: #F9FAF8;
    width:50%;
}

header nav ol {
    list-style-type: none;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
    width:50%;
}

header h1 {
    font: 48px extra-bold;
    color: #F9FAF8;
}

header p {
    font: 18px;
    color: #E5E7EB;
}

/* Sections */
section {
    display:flex;
    justify-content: center;
    align-items: center;
}


/* Section: info */
section.info {
    justify-content: space-between;
    align-items: center;
}

section.info div div {
    border:1px blue;
    width:4em;
    height:4em;
}


/* Section: CTA */

section.cta {
    width:70%;
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items:center;
}

section.cta h1 {
    font: 14px bold;
    
}


section.cta button {
    border:white 1px;
    padding:0 1em;
}

/* Blockquote */
blockquote {
    font:36px light italic;
    color: #1F2937;
}

/* Footer */
footer p {
    text-align:center;
}